.heading, .banner h1, .footer h3 {
  color: royalblue;
  font-size: 40px;
  background-color: orange;
  text-align: end; }

.nav {
  background-color: royalblue; }
  .nav ul li {
    list-style: none; }
    .nav ul li a {
      text-decoration: none;
      color: orange; }
      .nav ul li a:hover {
        color: red; }

.footer h3 {
  /* @include transicion(color .5s, background-color 4s);
    @include estilosCabecera(); */ }
