#container{
    width: 50%;
    margin: auto;
}
#brand a{
    color: rgb(154, 24, 194);
    text-decoration: none;
    float: left;
    margin-bottom: 20px;
}
#searchBox{
    background: linear-gradient(to bottom, #f0eeeeb7 25%, #91ff00 100%);
    width: 46%;
    height: 16px;
    margin-top: -20px;
    float: right;
    margin-left: 15px;
    text-align: center;
    padding: 25px;
    float: left;

}
.submit{
    background-color: blueviolet;
    font-weight: bolder;
    color: white;
    border: none;
    float: right;
    margin-top: 3px;

}
.text{
    display: inline-block;
    vertical-align: middle;
    color: orange;
    background-image: url(../imagenes/search.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-size: 15px;

}
#menu{
    clear: both;
    background: linear-gradient(to bottom, #f0eeeeb7,#D6EC47);
    width: 99%;
}
#menu ul{
    list-style-type: none;
}
#menu a{
    text-decoration: none;
}
.active{
    color: purple;
    font-weight: bolder;

}
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  #menu li {
    display: inline; 
    margin-right: 10px; 
    margin: 15px;
    border-right: 2px solid purple;
    padding-right: 40px;
}
#menu li:last-child {
    border-right: none; 
  }