.boton {
    @include centrado-horizontal;
    width: 30px;
    height: 30px;
    background-color: map-get($map: $colores, $key: "primario");
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    transition: width 0.5s ease;
  
    .mas {
      position: absolute;
      top: 50%;
      left: 100%; 
      transform: translateY(-50%);
      width: 100px;
      height: 100%;
      color: black;
      background-color: map-get($map: $colores, $key: "primario");
      transition: left 0.5s ease;
      text-align: center;
    }
  
    &:hover {
      width: 300px;
      border-radius: 15px;
      padding-left: 10px;
      text-align: left;
  
      .mas {
        left: calc(100% - 100px);
        color: white;
      }
    }
  }