$color-gris: #a5a5a5;
$color-negro: black;
$color-terciario: dodgerblue;
body {
    font-family: 'Sedgwick Ave', cursive;
    margin: 0;
    padding: 0;
    background-color: $color-gris;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
        }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: $color-negro;
        }
    }
}
.container {
    text-align: center;

    h2 {
        margin-top: 30px;
    }

    nav {
        ul {
            display: flex;
            justify-content: center;
            margin-top: 20px; 

            li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}