body {
    background: rgb(2, 0, 36);
    background: linear-gradient(219deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
    display: grid;
    place-items: center;
    padding: 20px;
    gap: 20px;
}

h1 {
    width: 100%;
    text-align: center;
}

.media-object {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    gap: 10px;
}

.media-object img {
    max-width: 150px;
    height: 120px;
    object-fit: cover;
}

.comentario {
    display: grid;
    grid-template-columns: 1fr;
}

.comentario p {
    padding: 10px;
    margin: 0;
}

.comentario-anidado {
    margin-left: 20px;
    background-color: rgb(194, 194, 201);
    margin-right: 30px;
}
