body {
    background: linear-gradient(to right, #c76363 0%, rgb(218, 170, 83) 100%);
}

#container {
    background-color: white;
    width: 80%;
    margin: auto;
    height: 100%;
}


.menu {
    display: flex;
    background-color: rgba(0, 0, 255, 0.699);
    padding: 10px;
    justify-content: space-around;
}

.menu-item {
    margin-right: 10px;
}

.menu-item:hover {

    background-color: rgba(0, 0, 255, 0.5);
}
.menu-item a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    
.menu-item:hover {

    background-color: rgba(0, 0, 255, 0.5);
}

    .menu-item {
        margin-right: 0;
        margin-bottom: 10px;
        flex: none;
        max-width: 100%;
    }
}

.menu-iconos {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 255, 0.699);
    padding: 10px;
    justify-content: space-around;
}

.menu-iconos-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.menu-iconos-item i {
    margin-right: 10px;
    color: white;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-container a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.text-container span {
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .menu-iconos-item {
        width: calc(50% - 30px);
    }
}

.menu-dropdown {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 255, 0.699);
    padding: 10px;
    justify-content: space-around;
}

.menu-dropdown-item {
    position: relative;
    padding: 10px;
    color: white;
}

.menu-dropdown-item .lista {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 145, 0);
    width: 100%;
}

.menu-dropdown-item:hover .lista {
    display: block;
}

.menu-dropdown-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu-dropdown-item .lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-dropdown-item .lista ul li {
    padding: 8px 0;
}

@media screen and (max-width: 768px) {
    .menu-dropdown {
        flex-direction: column;
    }

    .menu-dropdown-item {
        width: 100%;
    }

    .menu-dropdown-item .lista {
        position: static;
        display: block;
        background-color: rgba(0, 0, 255, 0.699);
    }

    .menu-dropdown-item .lista ul li {
        padding: 8px 20px;
    }
    .menu-dropdown-item .lista ul li:hover {
        padding: 8px 20px;
        background-color:  rgb(255, 145, 0);
    }
}

.redes-sociales {
    background-color: rgba(0, 0, 255, 0.699);
}

.redes-sociales ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.redes-sociales ul li {
    margin-left: 30px;
}

.redes-sociales ul li a {
    color: white;
    text-decoration: none;
}

.redes-sociales ul li a[href*='https://www.facebook.com']::before {
    content: "\f39e";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}

.redes-sociales ul li a[href*='https://www.twitter.com']::before {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}

.redes-sociales ul li a[href*='https://youtube.com']::before {
    content: "\f167";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}

.redes-sociales ul li a[href*='https://instagram.com']::before {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}

.redes-sociales ul li a[href*='https://pinterest.es']::before {
    content: "\f0d2";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}
.menu-color{
    background-color: rgba(0, 0, 255, 0.699);
}
.menu-dropdown-redes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
}
.redes-sociales-menu ul {
    list-style: none;
    padding: 0;
    margin-top: -40px;
    display: flex;
    justify-content: flex-end;
}

.redes-sociales-menu ul li {
    margin-left: 30px;
}

.redes-sociales-menu ul li a {
    color: white;
    text-decoration: none;
}
.redes-sociales-menu ul li a[href*='https://www.facebook.com']::before {
    content: "\f39e";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}

.redes-sociales-menu  ul li a[href*='https://www.twitter.com']::before {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}
.redes-sociales-menu  ul li a[href*='https://youtube.com']::before {
    content: "\f167";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}

.redes-sociales-menu  ul li a[href*='https://instagram.com']::before {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}

.redes-sociales-menu  ul li a[href*='https://pinterest.es']::before {
    content: "\f0d2";
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
}


