header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .logo img {
        height: 50px; 
    }

    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            li {
                margin-right: 20px;
                

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    color: map-get($map: $colores, $key: primario);
                    font-weight: bold;
                }
                 &:hover {
                        a {
                            color: $nav-link-hover-color
                        }
                    }
            }
            @media (max-width: $breakpoint-lg) {
                nav {
                  margin: 0 20px;
                }
              }
        
              @media (max-width: $breakpoint-md) {
                nav {
                  margin: 0px;
                }
              }
        }
    }
}
