.figuras {
    .figura {
        position: relative;
        width: calc(33.333% - 20px);
        margin: 6px;
        display: inline-block;
        overflow: hidden; 

        img {
            width: 100%;
            height: auto; 
            object-fit: cover;
            transition: opacity 0.3s ease; 
            display: block;

            &:hover {
                opacity: 0.6; 
            }
        }

        .detallesProducto {
            display: none; 
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%); 
            width: 80%; 
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            transition: opacity 0.3s ease, transform 0.3s ease;

            h2,
            p {
                display: block;
            }

            button {
                padding: 5px 10px;
                margin-top: 10px;
                border-color: orange;
                color: orange;
            }
        }

        @media (max-width: 768px) {
            .detallesProducto {
                display: none; 
            }

            button {
                display: block; 
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }

            &:hover .detallesProducto {
                display: none; 
            }
        }

        @media (min-width: 768px) {
            &:hover .detallesProducto {
                display: block;
                opacity: 1;
                transform: translate(-50%, -50%) scale(1); 
            }
        }
    }
}
