header {
    font-weight: bold;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 30px;
    margin-left: 50px;
}
.logo{
    width: 40px;
    height: 40px;
    float: left;
}
h2{
    float: left;
    font-family: Arial, sans-serif;
    margin-top: -1px;
    margin-left: 15px;
    width: 33%;

}
.enlaces{
    text-decoration: none;
    padding: 5px 10px;
    border: solid black 1px;
    margin: 10px;
    color: black;
    font-weight: normal;

}
.enlaces:hover{
    background-color: rgb(196, 191, 191);
    padding: 5px 10px;

}

nav{
    float: left;
    width: 40%;
}
.busqueda{
    float: left;
    
}
.paisaje{
    width: 87.5%;
    height: 450px;
    margin-left: 50px;
}
#boton{
    position: absolute;
    background-color: rgb(54, 52, 52);
    color: white;
    top: 37%;
    left: 44%;
    border-radius: 5px;
}
#boton:hover{
    background-color: rgb(99, 95, 95);
    transition: ease;
}
#características{
    float: inline-start;
    width: 24.8%; 
    margin: 10px;
    border: 1px solid #000; 
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-left: 57px;
}
 

#características h2{
    margin-bottom: 10px;  

}
#características p{
    margin: 0;

}
.saber-mas {
    display: block;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px auto; 
    border-radius: 5px;
    width: 100px;
  }

.h3{
    float: inline-start;
    margin-left: 50px;
}
body{
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
}